<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.enterDate}</h1>
            <h:panelGrid columns="3">
                #{msgs.day}
                <h:inputText id="day" value="#{date.day}" size="2"
                             required="true" />
                <h:panelGroup />

                #{msgs.month}
                <h:inputText id="month" value="#{date.month}" size="2"
                             required="true" />
                <h:panelGroup />

                #{msgs.year}
                <!-- Validator is a method on the bean invoked with the attribute -->
                <h:inputText id="year" value="#{date.year}" size="4"
                             required="true" validator="#{date.validateDate}" />
                <h:message for="year" styleClass="errorMessage" />
            </h:panelGrid>
            <h:commandButton value="#{msgs.submit}" action="result" />
        </h:form>
    </h:body>
</html>
